.profile {
  position: relative;
}

.profile__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile__list {
  opacity: 0;
  visibility: 0;
  background-color: rgb(255, 255, 255);
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid #aaa;
  width: 180px;
  position: absolute;
  top: 100%;
  margin-top: 8px;
  transition: all 200ms;
  z-index: 4;
}

.profile__list-item {
  padding: 0.8rem 0;
  border-top: 1px solid #aaa;
}

.profile__list-item:first-child {
  border: none;
}

.profile--open .profile__list {
  opacity: 1;
  visibility: 1;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: crimson;
}

.logout-btn__icon {
  transform: rotate(180deg);
}

/* profile backdrop */
.profile__backdrop {
  position: fixed;
  inset: 0;
  background-color: transparent;
  z-index: 3;
  display: none;
}

.profile__backdrop--active {
  display: block;
}
