.users-page-wrapper .edit-modal {
  max-width: 1000px;
}

.edit-user {
  margin-top: 20px;
  width: 400px;
}

.edit-user .edit-user__input-group {
  background-color: #f4f4f4;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1.5px solid transparent;
  transition: all 200ms ease;
}

.edit-user .edit-user__input-group.notvalid {
  border: 1.5px solid crimson;
}

.error-msg {
  display: none;
}

.edit-user__input-group.notvalid + .error-msg {
  display: block;
}

.edit-user .edit-user__input:disabled {
  opacity: 0.3;
}

.edit-user .edit-user__input-group-icon {
  color: #757575;
  transition: all 200ms ease;
}

.edit-user .edit-user__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.edit-user .edit-user__input-group:has(.edit-user__input:focus) {
  border-color: #471aaa;
}

.edit-user .edit-user__input-group:has(.edit-product__input:focus) .edit-product__input-group-icon {
  color: #471aaa;
}
